include ../node_modules/bemto.jade/bemto
//
  <?php

  $utm_medium = '-';
  $utm_source = '-';
  $utm_campaign = '-';
  $utm_term = '-';
  $utm_content = '-';

  if (isset($_GET['utm_medium'])) {
    $utm_medium = $_GET['utm_medium'];
  }

  if (isset($_GET['utm_source'])) {
    $utm_source = $_GET['utm_source'];
  }

  if (isset($_GET['utm_campaign'])) {
    $utm_campaign = $_GET['utm_campaign'];
  }

  if (isset($_GET['utm_term'])) {
    $utm_term = $_GET['utm_term'];
  }

  if (isset($_GET['utm_content'])) {
    $utm_content = $_GET['utm_content'];
  }
  $url = $_SERVER['HTTP_HOST'].$_SERVER['PHP_SELF'];
  $utm =  $_SERVER["QUERY_STRING"];
  ?>

<!DOCTYPE html>
html(lang="ru")
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title 

  link(rel="icon" href="img/favicon.ico" type="image/x-icon")
  link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
  link(rel='apple-touch-icon', sizes='180x180', href='img/apple-touch-icon.png')
  link(rel='icon', type='image/png', sizes='32x32', href='img/favicon-32x32.png')
  link(rel='icon', type='image/png', sizes='16x16', href='img/favicon-16x16.png')
  //- link(rel='manifest', href='img/site.webmanifest')
  link(rel='mask-icon', href='img/safari-pinned-tab.svg', color='#5bbad5')
  meta(name='msapplication-TileColor', content='#da532c')
  meta(name='theme-color', content='#ffffff')


  link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic-ext" rel="stylesheet")
  //build:css css/all.css
  link(rel="stylesheet", href="node_modules/animate.css/animate.min.css")
  link(rel="stylesheet", href="tmp/index.css")
  //endbuild
body.page
  .loader.loader_active
    .loader__spinner
    .loader__text Загрузка
  .loader.loader_submit
    .loader__spinner
    .loader__text Обработка...
  .top
    .container
      .top.top__left
        +b.logo
          +e.img
            img(src='img/logo.svg')
          +e.text Ростове-на-Дону,<br>ул. Береговая, 27а
      .top__right
        +b.phone-grup 
          +e.phone 8 (863) 310-11-40
          +e.text круглосуточно,<br>ежедневно, немедленно 
  .header
    img(src='img/sign.png' style="animation-delay: .4s").header__sign.start-animate
    .container
      .offer 
        .offer__text.start-animate
          |ЭКСТРЕННОЕ УСТРАНЕНИЕ
          br 
          span(style="color: #e62d57;") АВАРИЙНЫХ СИТУАЦИЙ 
          br
          span ВОДОПРОВОДА И КАНАЛИЗАЦИИ
          br
          | В РОСТОВЕ-НА-ДОНУ
        .offer__text2 
          |Звоните круглосуточно! 
          br
          | Приедем мгновенно, устраним быстро!
          br
          span(style="color: #e62d57;") Работаем в праздничные и выходные дни
          br
          .price(style="font-size: .6em;line-height: 1.8em; margin: 20px 0; padding: 0;")
            b Выезд на объект для выявления причины аварии
            br
            |с 08.00 до 18.00 - бесплатно
            br
            |с 18.00 до 07.00  - от 500 до 2000 рублей
            br
            b При устранении аварии нами <br>- выезд бесплатный в любое время!
          //- |Работаем круглосуточно и ежедневно!
          //- br
          //- |Устраняем аварии в течение 12 часов
          //- br
          //- |Выезд на объект в течение 30 минут

        .offer__action.order.start-animate(style="animation-delay: .2s") Вызвать специалиста

  //- +b.trigers
  //-   .container
  //-     +e.title Почему стоит обратиться в БК Инвент?
  //-     +e.item Мы работаем КРУГЛОСУТОЧНО БЕЗ ВЫХОДНЫХ
  //-     +e.item Выполняем работы в любое время года
  //-     +e.item Устраняем аварии в течение 24 часов


  +b.scheme
    +e.container
      +b.form
        .scheme__form-title Заполните форму и специалист с вами свяжется незамедлительно!
        form.ajax
          input(placeholder='Имя' name='name').input.input_type_name
          input(placeholder='Телефон' name='phone').input.input_type_phone
          //- input(placeholder='E-mail' name='email').input.input_type_email
          input(type='hidden', name='url', value!="<?echo $url?>")
          input(type='hidden', name='utm', value!="<?echo $utm?>")
          input(type='hidden', name='utm_term', value!="<?echo $utm_term?>")
          input(type='hidden', name='utm_campaign', value!="<?echo $utm_campaign?>")
          input(type='hidden', name='utm_source', value!="<?echo $utm_source?>")
          input(type='hidden', name='utm_medium', value!="<?echo $utm_medium?>")
          input(type='hidden', name='utm_content', value!="<?echo $utm_content?>")
          input(type='hidden', name='order', value='Аварийка')
          input(type='submit' value='Отправить').form__btn
      +e.box
        +e.title УСТРАНИТЬ АВАРИЮ ОЧЕНЬ ПРОСТО
        +e.items
          +e.item
            +e.n 1 
            |Заполните форму или позвоните
          +e.item 
            +e.n 2 
            |Специалист выезжает к вам в течение 30 минут
          +e.item 
            +e.n 3
            |Выявляем причину аварии, предлагаем решение, принимаем экстренные меры
          +e.item 
            +e.n 4 
            |На месте согласовываем состав работ, стоимость, заключаем договор
          +e.item 
            +e.n 5 
            |В течение 3 часов приезжает бригада, установка, материалы, и проводим работы
          +e.item 
            +e.n 6 
            |Сдаем вам инженерные системы в рабочем состоянии
        +e.text Всего 6 шагов, и вы пользуетесь новыми трубами!
        .btn2.offer__action.order.start-animate(style="animation-delay: .2s") Заказать звонок
        //.container 
      .price
        img(src="https://bk-invent.ru/uploads/images/banner/1.gif" style="max-width: 350px; width: 100%; margin: 10px 10px;")

    .footer
      .container(style="margin: 10px auto")
        div(style="display: flex;")
        .copyright__icons
          a(href='https://vk.com/bkinvent' target='_blank' style="margin-left:10px")
            img(src='https://bk-invent.ru/images/footer__vk.png')
          a(href='https://ok.ru/bkinvent' target='_blank' style="margin-left:10px")
            img(src='https://bk-invent.ru/images/footer__ok.png')
          a(href='https://instagram.com/bk_invent' target='_blank' style="margin-left:10px")
            img(src='https://bk-invent.ru/images/footer__instagram.png')

          span(style="display: inline-block; margin-left:10px") copyright © 2019 By BK Invent LLC. Все права защищены.<br>Запрещено любое копирование материалов ресурса без письменного согласия владельца — ООО "БК Инвент".
          br

        .container(style="padding-top: 15px;").
            <iframe src="https://yandex.ru/sprav/widget/rating-badge/11684848910" width="150" height="50" frameborder="0" style="margin: 0 10px;"></iframe>
            
            <div id="yellrank" style="margin: 0 10px;">Рейтинг на <a href="https://www.yell.ru/rostov-na-donu/com/ooo-bk-invent_11900346/" target="_blank">Yell.ru</a>.</div>
            <script src="https://www.yell.ru/yellrank/yellrank.js/?cmp=11900346&sz=1&bg=1"></script>
            
            <div style="margin: 0 10px;">
              <a style="margin: 0 10px;" class="flamp-widget" href="//rostov.flamp.ru/firm/bk_invent_ooo-70000001028462470"  data-flamp-widget-type="small-new" data-flamp-widget-id="70000001028462470">Отзывы о нас на Флампе</a><script>!function(d,s){var js,fjs=d.getElementsByTagName(s)[0];js=d.createElement(s);js.async=1;js.src="//widget.flamp.ru/loader.js";fjs.parentNode.insertBefore(js,fjs);}(document,"script");</script>
            </div>
            <div class="zoon-widget-comments" data-id="5a3b6d0aa24fd95b51552f76" data-type="210x40" data-stars="all" data-style="dark">
            Powered by <a href="https://rostov.zoon.ru/building/bk_invent/">Zoon</a>
            </div>
            <script src="//zoon.ru/jsext/widget_comments.js?v=4"></script>
		
    //- center
    //-   picture
    //-     source(srcset="https://bk-invent.ru/uploads/images/banner/smr/1160.jpg" media="(min-width: 700px)")
    //-     source(srcset="https://bk-invent.ru/uploads/images/banner/smr/700.jpg" media="(min-width: 400px)")
    //-     img(src="https://bk-invent.ru/uploads/images/banner/smr/400.jpg")


  .modal#modal__order
    .modal__wrapper
        .modal__dialog
            .close.modal__close
            .modal__title Заполните форму и специалист выедет к вам в течение 30 минут!
            +b.form
              form.ajax
                input(placeholder='Имя' name='name').input.input_type_name
                input(placeholder='Телефон' name='phone').input.input_type_phone
                //- input(placeholder='Введите Ваш E-mail' name='email').input.input_type_email
                input(type='hidden', name='url', value!="<?echo $url?>")
                input(type='hidden', name='utm', value!="<?echo $utm?>")
                input(type='hidden', name='utm_term', value!="<?echo $utm_term?>")
                input(type='hidden', name='utm_campaign', value!="<?echo $utm_campaign?>")
                input(type='hidden', name='utm_source', value!="<?echo $utm_source?>")
                input(type='hidden', name='utm_medium', value!="<?echo $utm_medium?>")
                input(type='hidden', name='utm_content', value!="<?echo $utm_content?>")
                input(type='hidden', name='order', value='Аварийка')
                input(type='submit' value='Отправить').form__btn

  .modal#modal__ok
    .modal__wrapper
        .modal__dialog
            .close.modal__close
            .modal__title <b>Ваша заявка принята</b> <br>Наш специалист свяжется с вами в ближайшее время

  script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
  //build:js js/all.js
  script(src="node_modules/jquery/dist/jquery.min.js")
  script(src="node_modules/jquery-validation/dist/jquery.validate.min.js")
  script(src="tmp/index.js")
  //endbuild
  script(type='text/javascript').
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
    ym(51705002, "init", {
    id:51705002,
    clickmap:true,
    trackLinks:true,
    accurateTrackBounce:true,
    webvisor:true
    });
  noscript
    div
      img(src='https://mc.yandex.ru/watch/51705002', style='position:absolute; left:-9999px;', alt='')